/***************************

Helper classes

Note: 
Same naming convention as Bootstrap, since I am comfortable using it.

***************************/

.container {    
	display: block;
    width: 75%;
    margin: 0 auto;
}

.text-left {
text-align: left;
}

.text-center {
text-align: center;
}

.text-right {
text-align: right;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}


/*Base styles*/
footer{background-color: #191919; color:#fff;}
p {margin:5px 0px;}
#about-me-table {margin:0px;width: 100%;}


