/***************************

Helper classes

Note: 
Same naming convention as Bootstrap, since I am comfortable using it.

***************************/

.container {    
	display: block;
	width: 75%;
	margin: 0 auto;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}


/*Base styles*/
body{background-color: #000;}
h1,h2,h3,h4,h5 {margin:0px;}
h4 {padding: 20px 0px;}
h1 {font-size: 40px;}
a {text-decoration: none; color: #CC2929; cursor: pointer;}
p {margin:5px 0px;}
header {background-color: #fff; padding: 20px 0px;}
footer{background-color: #191919; color:#fff;}

/*Custom styles*/
#about-me-table {margin:0px;width: 100%; background-color: #fff;background-color: #191919; color: #fff; padding: 20px 0px;}
#more-about-me-table {margin:0px;width: 100%; background-color: #fff;background-color: #292929; color: #fff; padding: 20px 0px;display: none;}
section#skills-matrix-table {background-color: #fff;}
#profile-links-table {background-color: #191919; color:#fff;}
a.profile-btns {color:#fff; padding: 20px 0px;}
#profile-links-table td {border: 1px solid #fff;}
#profile-links-table .profile-links-heading{border: 0px;}
#profile-links-table .notification{border: 0px;}
/*CSS Transitions*/




a#more-about-me-trigger {
	font-weight: 700;
	color:#fff;
-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;

}
a#more-about-me-trigger:hover {
background-color: #fff;
	color:#000;
	border-color: #000;

-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;

}

a#less-about-me-trigger {
	font-weight: 700;
	color:#fff;
-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

a#less-about-me-trigger:hover {
background-color: #fff;
	color:#000;
	border-color: #000;

-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}


a.skills-matrix-btn {
	color: #000;
	padding: 10px 20px; 
	border: 1px solid #000;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
a.skills-matrix-btn:hover {
	padding: 10px 20px; 
	border: 1px solid; 
	background-color: #000; 
	color: #fff; 
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

/*Media Queries*/
@media (max-width: 1200px ) {
	.container{ width: 100%;}
}